[submodule "frontend"]
	path = frontend
	url = https://gitee.com/yake2024/knowledge-hub-frontend.git
[submodule "backend-java"]
	path = backend-java
	url = https://gitee.com/yake2024/knowledge-hub-backend.git
