[submodule "frontend"]
	path = frontend
	url = https://github.com/lianjishu/KnowledgeHub-frontend.git
[submodule "backend-java"]
	path = backend-java
	url = https://github.com/lianjishu/KnowledgeHub-backend.git
